/**
* Foundation
* ========================== */

@use "foundation/_reset";
@use "foundation/_base" as base;

/**
* Layout
* ========================== */

@use "layout/_header";
@use "layout/_footer";
@use "layout/_main";

/* Object
* ========================== */

/* Component ------------ */

//@import "object/component/*";

/* Project ------------ */

//@import "object/project/*";

/* Utility ------------ */

//@import "object/utility/*";

body {
  background-color: base.$backgroundColor;
  color: red;
}
